<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fm.user.dao.UserGetFileMapper">
    <sql id="Base_Columns_List">
        gfid,gfname , gfidea, gfloader,gffrom,gettime ,gflevel,waitborrow,back,
         ,gfcompany, gfresult, gfdatetime,gfnumber,type,isborrow,gfpartnumber,gfpersonRead,state,backDate
    </sql>

      <insert id="insertGetFile" parameterType="cn.fm.pojo.GetFile" >
          insert into getFile(gfname,gfdatetime,gfnumber,gffrom,gftime,gflevel,gfpartnumber
          gfidea,gfresult,gfloader,gfcompany) values(#{gfname},#{gfdatetime},#{gfnumber},
          #{gffrom} ,#{gftime},#{gflevel},#{gfpartnumber},#{gfidea},
          #{gfresult}, #{gfloader},#{gfcompany})
      </insert>

      <select id="selectClassify" parameterType="java.lang.Integer" resultType="cn.fm.pojo.Classify">
          select cyid,cyname,cyfatherid,cyaddress from classify WHERE cyid = #{value}
      </select>

    <select id="selectGetFileById" parameterType="int" resultType="cn.fm.pojo.GetFile">
        select
        <include refid="Base_Columns_List" />
        from getFile where gfid = #{gfid} and state=1
    </select>

     <select id="selectGetFileByName" parameterType="java.lang.String" resultType="cn.fm.pojo.GetFile">
         select
         <include refid="Base_Columns_List" />
         from getFile where gfname like concat(concat('%',#{value}), '%') and state=1
     </select>

    <select id="selectGetFileByCompany" parameterType="java.lang.String" resultType="cn.fm.pojo.GetFile">
         select
         <include refid="Base_Columns_List"/>
         from getFile where gfcompany = #{value} and state=1
     </select>

    <select id="selectGetFileByClassifyId" parameterType="java.lang.Integer" resultType="cn.fm.pojo.GetFile">
        select
         <include refid="Base_Columns_List" />
        from getFile where gfclassifyid = #{value} and state=1
    </select>


    <select id="selectGetFileByDateTime" parameterType="java.lang.String" resultType="cn.fm.pojo.GetFile">
        select
        <include refid="Base_Columns_List" />
        from getFile where gfdatetime &gt;= #{gfdateime} AND gfdatetime &lt;= #{endtime} and state=1
    </select>

    <select id="selectGetFileByNumber" parameterType="java.lang.Integer" resultType="cn.fm.pojo.GetFile">
        select
        <include refid="Base_Columns_List" />
        from getFile where gfnumber = #{value} and state=1
    </select>

    <!--多项查询-->
    <select id="selectGetFileByTwoAndMore" resultType="cn.fm.pojo.GetFile">
        select
        <include refid="Base_Columns_List" />
        from getFile
        <where>
            <if test="getFile.gfnumber != 0">
                 gfnumber = #{getFile.gfnumber}
            </if>
            <if test="getFile.gfcompany != null">
                and gfcompany = #{getFile.gfcompany}
            </if>
            <if test="getFile.gfname != null">
                and gfname like concat(concat('%',#{getFile.gfname}), '%')
            </if>

            <if test="getFile.gfdatetime != null">
                and gfdatetime &gt;= #{getFile.gfdatetime} and gfdatetime &lt;= #{endtime}
            </if>
            and state=1
        </where>


    </select>
   <!--


  -->
    <select id="selectAllGetFile" resultType="cn.fm.pojo.GetFile">
         select
         <include refid="Base_Columns_List" />
        from getFile where state=1
    </select>

    <!--更新 -->
    <update id="updateGetFileById" parameterType="cn.fm.pojo.GetFile">
       update getFile
        <set>
       <if test="gfname != null" >
           gfname = #{gfname} ,
       </if>
        <if test="gfidea != null" >
            gfidea = #{gfidea} ,
        </if>
        <if test="gfloader != null" >
            gfloader = #{gfloader},
        </if>
        <if test="gfcompany != null" >
            gfcompany = #{gfcompany},
        </if>
        <if test="gfresult != null" >
            gfresult = #{gfresult},
        </if>
            <if test="gffrom != null" >
                gffrom = #{gffrom},
            </if>
            <if test="gflevel != null" >
                gflevel = #{gflevel},
            </if>
            <if test="gftime != null" >
                gftime = #{gftime},
            </if>
            <if test="gfpartnumber != null" >
                gfpartnumber = #{gfpartnumber},
            </if>
        <!--<if test="gfclassifyid != 0">-->
            <!--gfclassifyid = #{gfclassifyid},-->
        <!--</if>-->
        <!--<if test="gfclassifyname != null" >-->
            <!--gfclassifyname = #{gfclassifyname},-->
        <!--</if>-->
        <!--<if test="gfaddress != null" >-->
            <!--gfaddress = #{gfaddress},-->
        <!--</if>-->

        <if test="gfdatetime != null" >
            gfdatetime = #{gfdatetime},
        </if>
        <if test="gfnumber != 0" >
            gfnumber = #{gfnumber},
        </if>
        <if test="isborrow != 0">
            isborrow = #{isborrow}
        </if>
        </set>
       where gfid = #{gfid}
    </update>

    <!--查询这个文件的借阅信息是不是存在-->
    <select id="selectGFhasBorrowInfo" parameterType="int" resultType="cn.fm.pojo.Borrow">
         select * from borrow_getFile where fileid=#{id}
    </select>
    <update id="deleteGetFileById" parameterType="int">
        update getFile set state=0 where gfid IN
        <foreach collection="gfid" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <update id="deleteGetFileBorrowInfo" parameterType="int">
        update borrow_getFile set state=0
        <where>
            fileid=#{gfid}
        </where>
    </update>

    <!--查看被删除的文件-->
    <select id="selectTheGFileIsDel" resultType="cn.fm.pojo.GetFile" >
        select
        <include refid="Base_Columns_List" />
        from companyFile where state = 0
    </select>
    <!--清退一个文件-->
    <update id="delGetFileBack" >
        UPDATE getFile SET back = 1 , backDate = #{backDate} where gfid = #{gfid}
    </update>
</mapper>