<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fm.user.dao.UserMapper">
    <update id="updateUserpwd"  >
        update user set upwd = #{arg0} ,state = 1 where code = #{arg1}
    </update>
    <!--根据用户的姓名 ,单位等信息,查找id-->
    <select id="selectUserId" parameterType="cn.fm.pojo.User" resultType="cn.fm.pojo.User">
        select uid,uname,ucompany,uemail,ifAdmin,uupdatetime,state from user
        <where>
            <if test="uname != null" >
                uname like concat(concat('%',#{uname}), '%')
            </if>
            and state != 0
        </where>
    </select>


    <!--添加借阅信息-->
    <insert id="insertBorrowcfInfo" parameterType="cn.fm.pojo.Borrow" >
        insert into borrow_companyFile(uid,fileid,borrowtime) VALUES (#{uid},#{fileid},#{borrowtime})
    </insert>

    <!--添加借阅信息-->
    <insert id="insertBorrowgfInfo" parameterType="cn.fm.pojo.Borrow" >
        insert into borrow_getFile(uid,fileid,borrowtime) VALUES (#{uid},#{fileid},#{borrowtime})
    </insert>

    <!--设置文件已经被借出-->
    <update id="updateCompanyFileIsBorrow" parameterType="int">
        update companyFile set isborrow = 2 where cfid = #{cfid}
    </update>

    <!--设置文件已经归还-->
    <update id="updateCompanyFileBack" parameterType="int">
        update companyFile set isborrow = 1 where cfid IN
        <foreach collection="fileid" close=")" open="(" separator="," item="id">
            #{id}
        </foreach>
    </update>

    <!--设置文件已经被借出-->
    <update id="updateGetFileIsBorrow" parameterType="int">
        update getFile set isborrow = 2 where gfid = #{gfid}
    </update>

    <!--设置文件已经归还-->
    <update id="updateGetFileBack" parameterType="int">
        update getFile set isborrow = 1 where gfid IN
        <foreach collection="fileid" close=")" open="(" separator="," item="id">
            #{id}
        </foreach>
    </update>
    <!--更新归还时间 ,因为一个文件只能借一次 所以  根据文件id就可以归还,但是要进行判断, 判断这个文件是不是在借阅中,并且
    这个文件是不是没更新过-->
    <update id="updatecfBackTime" parameterType="int">
        update borrow_companyFile set backtime=CURDATE() WHERE backtime is null AND fileid IN
        <foreach collection="fileid" close=")" open="(" separator="," item="id">
            #{id}
        </foreach>
    </update>
    <update id="updategfBackTime" parameterType="int">
        update borrow_getFile set backtime=CURDATE() WHERE backtime is null AND fileid IN
        <foreach collection="fileid" close=")" open="(" separator="," item="id">
            #{id}
        </foreach>
    </update>


    <!--根据用户查询借阅信息 或者查询 这一类的借阅信息-->
    <select id="selectBorrowcfById" resultType="cn.fm.pojo.Borrow" parameterType="int">
        select uid,fileid,borrowtime,backtime from borrow_companyFile
        <where>
            <if test="uid != 0" >
                uid = #{uid}
            </if>
        </where>
    </select>

    <!--根据用户查询借阅信息-->
    <select id="selectBorrowgfById" resultType="cn.fm.pojo.Borrow" parameterType="int">
        select uid,fileid,borrowtime,backtime from borrow_getFile
        <where>
            <if test="uid != 0" >
                uid = #{uid}
            </if>
        </where>
    </select>
    <!--根据文件id查找这个文件的借阅历史-->
    <!--可以用来查找这个文件是不是被解阅,,是的话,不能进行删除-->
    <select id="selectBorrowcfInfoByFileid" resultType="cn.fm.pojo.Borrow" parameterType="java.lang.Integer" >
         select uid,fileid,borrowtime,backtime from borrow_companyFile where fileid = #{fileid}
    </select>
    <select id="selectBorrowgfInfoByFileid" parameterType="java.lang.Integer" resultType="cn.fm.pojo.Borrow">
        select uid,fileid,borrowtime,backtime from borrow_getFile where fileid = #{fileid}
    </select>

    <!--查看该文件是不是被借出去了,-->
    <select id="selectgfisBorrow" parameterType="int" resultType="int">
        select isborrow from getFile where gfid IN
        <foreach collection="gfid" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectcfisBorrow" parameterType="int" resultType="int">
        select isborrow from companyFile where cfid IN
        <foreach collection="cfid" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>


    <!--查询最顶层的分类,作为分类级联的最高层-->
    <select id="selectClassifyBiggest" resultType="cn.fm.pojo.Classify" >
        select cyid,cyname from classify where cyfather = 0
    </select>
<!--根据父类查找子类分类-->
    <select id="selectClassifyByFatherId" resultType="cn.fm.pojo.Classify" parameterType="java.lang.Integer">
        select cyid,cyname from classify where cyfather = #{fatherid}
    </select>


    <!--查找更新时间-->
    <select id="selectUserupdatetime" parameterType="java.lang.String" resultType="java.lang.String">
        select uupdatetime from user where code = #{code}
    </select>

</mapper>